:root{
	--primary-bg: #ffffff;
	--text-primary: #0f172a;
	--text-secondary: #475569;
	--accent-color: #3b82f6;
	--card-bg: #f8fafc;
	--border-color: #e2e8f0;
	}

@media (prefers-color-scheme: dark) {
	:root {
	--primary-bg: #0f172a;
	--text-primary: #f8fafc;
	--text-secondary: #cbd5e1;
	--accent-color: #06b6d4;
	--card-bg: #1e293b;
	--border-color: #334155;
}
}


/* Горизонтальный скролл для всех элементов */
::-webkit-scrollbar:horizontal {
  height: 6px; /* Высота скроллбара */
  background: transparent;
}

/* Ползунок */
::-webkit-scrollbar-thumb:horizontal {
  background: linear-gradient(90deg, #ff8c00, #ff2e63); /* Градиентный цвет */
  border-radius: 10px;
  transition: background 0.3s ease-in-out, height 0.3s ease-in-out;
}

/* Ползунок при наведении */
:hover::-webkit-scrollbar-thumb:horizontal,
:focus-within::-webkit-scrollbar-thumb:horizontal {
  background: linear-gradient(90deg, #ff2e63, #ff8c00);
  height: 8px;
}

/* Трек (фон скролла) */
::-webkit-scrollbar-track:horizontal {
  background: #12121c;
  border-radius: 10px;
}

::-webkit-scrollbar {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

::-webkit-scrollbar-button {
  display: none;
}

:hover::-webkit-scrollbar,
:focus-within::-webkit-scrollbar {
  opacity: 1;
}

* {
  scrollbar-width: thin;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {
	font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
	line-height: 1.6;
	transition: all 0.3s ease;
	background: var(--primary-bg);
	color: var(--text-primary);
}